HRPolicyChat.json
{
  "name": "HRPolicyChat",
  "nodes": [
    {
      "parameters": {
        "content": "## Step 2: Setup the Q&A \n### The incoming message from the webhook is queried from the Supabase Vector Store.  The response is provided in the response webhook.  ",
        "height": 733.5099670584011,
        "width": 903.0896125323785,
        "color": 6
      },
      "id": "93a781b4-e002-41a9-a495-194de22e3061",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1024,
        0
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.response.text }}",
        "options": {}
      },
      "id": "37fba05a-e4ab-47c3-8111-fec89b41080f",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [
        1696,
        144
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "477c873b-d875-46f5-aa9d-c10a11a46671",
      "name": "When clicking \"Execute Workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        -256,
        144
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "1u0Zf4ulkSP730y5w5TDplFjQcED5mTtv",
          "mode": "list",
          "cachedResultName": "HR Policies Handbook.txt",
          "cachedResultUrl": "https://drive.google.com/file/d/1u0Zf4ulkSP730y5w5TDplFjQcED5mTtv/view?usp=drivesdk"
        },
        "options": {}
      },
      "id": "ca9d30f5-a499-4e30-9ae1-1a34312153e1",
      "name": "Google Drive",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        48,
        144
      ],
      "typeVersion": 3,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "AO3rVAc7LXGxNm3f",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "loader": "textLoader",
        "options": {}
      },
      "id": "dcc1d425-89f8-4345-a54f-c0e45111ed74",
      "name": "Binary to Document",
      "type": "@n8n/n8n-nodes-langchain.documentBinaryInputLoader",
      "position": [
        320,
        368
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "chunkSize": 3000,
        "chunkOverlap": 200,
        "options": {}
      },
      "id": "95715634-0142-4cc4-ae7c-5581b30665b3",
      "name": "Recursive Character Text Splitter",
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "position": [
        320,
        528
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "model": "text-embedding-3-small",
        "options": {}
      },
      "id": "bc8a69bc-65c2-4610-a80a-6ccc7c5865a3",
      "name": "Embeddings OpenAI",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "position": [
        624,
        368
      ],
      "typeVersion": 1,
      "credentials": {
        "openAiApi": {
          "id": "RjHRble9Y08lldaz",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "content": "## Step 1: Upserting the PDF\n### Fetch file from Google Drive, split it into chunks and insert into Supabase index\n\n",
        "height": 732.3675002130781,
        "width": 772.0680602743597,
        "color": 6
      },
      "id": "c9282793-14b4-43a6-a892-da3129cdb681",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "mode": "insert",
        "qdrantCollection": {
          "__rl": true,
          "value": "=hrpolicy",
          "mode": "id"
        },
        "options": {}
      },
      "id": "48876561-ad65-4a22-b8ea-0f44ad837700",
      "name": "Qdrant Vector Store",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "position": [
        400,
        144
      ],
      "typeVersion": 1,
      "credentials": {
        "qdrantApi": {
          "id": "0RqwF6rpOzFkVb26",
          "name": "Qdrant account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        1088,
        144
      ],
      "id": "8608cea1-f654-4672-838f-74eaf75d58cf",
      "name": "When chat message received",
      "webhookId": "a001cdcf-a69b-41e5-8e90-15c1139749aa"
    },
    {
      "parameters": {
        "topK": 5
      },
      "type": "@n8n/n8n-nodes-langchain.retrieverVectorStore",
      "typeVersion": 1,
      "position": [
        1424,
        304
      ],
      "id": "bc0ff52a-6c31-494f-9c41-611c09d1a2a9",
      "name": "Vector Store Retriever"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1232,
        384
      ],
      "id": "34c9ac9f-dbcb-490a-90e8-1c4eb1020c2a",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "RjHRble9Y08lldaz",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainRetrievalQa",
      "typeVersion": 1.7,
      "position": [
        1328,
        144
      ],
      "id": "699b8009-a849-4743-b44f-453508442afe",
      "name": "Question and Answer Chain"
    },
    {
      "parameters": {
        "qdrantCollection": {
          "__rl": true,
          "value": "hrpolicy",
          "mode": "list",
          "cachedResultName": "hrpolicy"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        1424,
        432
      ],
      "id": "76a4dab6-c1a6-4eb1-a30b-ee892e7a28f2",
      "name": "Qdrant Vector Store1",
      "credentials": {
        "qdrantApi": {
          "id": "0RqwF6rpOzFkVb26",
          "name": "Qdrant account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1392,
        576
      ],
      "id": "0543e5c5-08f1-485b-b0b2-672e15dbc1f4",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "RjHRble9Y08lldaz",
          "name": "n8n free OpenAI API credits"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive": {
      "main": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Binary to Document": {
      "ai_document": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "When clicking \"Execute Workflow\"": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Binary to Document",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Question and Answer Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Vector Store Retriever": {
      "ai_retriever": [
        [
          {
            "node": "Question and Answer Chain",
            "type": "ai_retriever",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Question and Answer Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Vector Store1": {
      "ai_vectorStore": [
        [
          {
            "node": "Vector Store Retriever",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Question and Answer Chain": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "e88f5991-ee5c-4872-9185-02af5c6c8ced",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "81da0ff6dcaf32df1dd0743c7d628629b42c5e5068ff24741383e486367c5359"
  },
  "id": "GuNPWW5a0G0bgpB1",
  "tags": []
}