Agent Planning & Decomposition Pattern - Equity Research/UpsertQ&A.json
{
  "name": "UpsertQ&A",
  "nodes": [
    {
      "parameters": {
        "content": "## Step 2: Setup the Q&A \n### The incoming message from the webhook is queried from the Supabase Vector Store.  The response is provided in the response webhook.  ",
        "height": 733.5099670584011,
        "width": 903.0896125323785,
        "color": 6
      },
      "id": "f4dbe74e-c311-42d7-bc15-35f78aa475a0",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1024,
        0
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.response.text }}",
        "options": {}
      },
      "id": "c0b93e00-5d4f-48f3-94df-6f574f58b5e4",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [
        1696,
        144
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "dbfeb531-4d1a-4121-933c-8242b5988317",
      "name": "When clicking \"Execute Workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        -256,
        144
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "1OyJoIWYvkKE22DiuoqbFLqJCvRVE_Loj",
          "mode": "list",
          "cachedResultName": "nvidia.pdf",
          "cachedResultUrl": "https://drive.google.com/file/d/1OyJoIWYvkKE22DiuoqbFLqJCvRVE_Loj/view?usp=drivesdk"
        },
        "options": {}
      },
      "id": "6177ce90-e35c-4239-8cef-0c2eea68968d",
      "name": "Google Drive",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        48,
        144
      ],
      "typeVersion": 3,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "psL2LYXh4u9tNZeS",
          "name": "Google Drive OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "loader": "pdfLoader",
        "options": {}
      },
      "id": "cb60ac95-5beb-4efd-93e3-0f951f229384",
      "name": "Binary to Document",
      "type": "@n8n/n8n-nodes-langchain.documentBinaryInputLoader",
      "position": [
        320,
        368
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "chunkSize": 3000,
        "chunkOverlap": 200,
        "options": {}
      },
      "id": "657d20b1-38f5-4044-9830-da897ec8894b",
      "name": "Recursive Character Text Splitter",
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "position": [
        320,
        528
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "model": "text-embedding-3-small",
        "options": {}
      },
      "id": "0ddcf458-21d0-4471-89a0-8e5f97129a8b",
      "name": "Embeddings OpenAI",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "position": [
        624,
        368
      ],
      "typeVersion": 1,
      "credentials": {
        "openAiApi": {
          "id": "uh0r5EaxwjZDeajy",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "content": "## Step 1: Upserting the PDF\n### Fetch file from Google Drive, split it into chunks and insert into Supabase index\n\n",
        "height": 732.3675002130781,
        "width": 772.0680602743597,
        "color": 6
      },
      "id": "db1b5c65-e963-4988-9852-f2e82164702e",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "mode": "insert",
        "qdrantCollection": {
          "__rl": true,
          "value": "=nvda",
          "mode": "id"
        },
        "options": {}
      },
      "id": "a8f15265-2ca3-4dfa-a2c5-a022dc823f53",
      "name": "Qdrant Vector Store",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "position": [
        400,
        144
      ],
      "typeVersion": 1,
      "credentials": {
        "qdrantApi": {
          "id": "tx5OMB84vShXht22",
          "name": "Qdrant account"
        }
      }
    },
    {
      "parameters": {
        "topK": 5
      },
      "type": "@n8n/n8n-nodes-langchain.retrieverVectorStore",
      "typeVersion": 1,
      "position": [
        1424,
        304
      ],
      "id": "6d85424b-5904-44ba-8b95-e0e92caa5f6a",
      "name": "Vector Store Retriever"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1264,
        304
      ],
      "id": "5cb8282c-4988-4814-a1e6-e89e6d1ac8a2",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "uh0r5EaxwjZDeajy",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "qdrantCollection": {
          "__rl": true,
          "value": "nvda",
          "mode": "list",
          "cachedResultName": "nvda"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        1424,
        432
      ],
      "id": "6aa60fed-17df-4d97-accf-29b85d51c877",
      "name": "Qdrant Vector Store1",
      "credentials": {
        "qdrantApi": {
          "id": "tx5OMB84vShXht22",
          "name": "Qdrant account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1392,
        576
      ],
      "id": "316f27cc-4bc5-4552-8b66-99627e18b48e",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "uh0r5EaxwjZDeajy",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "a5601aa0-e240-4273-a4c5-27325aa1e25a",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        1104,
        144
      ],
      "id": "be26b3fe-53b0-4e9c-8811-ed818ca0d3a4",
      "name": "Webhook",
      "webhookId": "a5601aa0-e240-4273-a4c5-27325aa1e25a"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.input }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainRetrievalQa",
      "typeVersion": 1.7,
      "position": [
        1360,
        144
      ],
      "id": "14da71bf-ebae-4715-b683-f827f5ef5fbf",
      "name": "Question and Answer Chain"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive": {
      "main": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Binary to Document": {
      "ai_document": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "When clicking \"Execute Workflow\"": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Binary to Document",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Vector Store Retriever": {
      "ai_retriever": [
        [
          {
            "node": "Question and Answer Chain",
            "type": "ai_retriever",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Question and Answer Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Vector Store1": {
      "ai_vectorStore": [
        [
          {
            "node": "Vector Store Retriever",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Question and Answer Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Question and Answer Chain": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "96fc0008-7fa1-4229-a9ea-51b87f8c7393",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "82d2f9fef2f23853177d6393df98c4ce16cdbd7264b955906d2141a9c7859131"
  },
  "id": "wVtnxSDOleeewPkX",
  "tags": []
}